#corpo{
    background-image: linear-gradient(to bottom, #8DFF79, #78B66D 100%)

}
.container-fluid{
    background-color:white;
    border-radius: 2%;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#margens{

    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px
}
.centralizar{
    text-align: center;
}
footer{
    background: #0A4700;
    color: white;
}